.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3x3 grid */
    gap: 2rem;
    justify-items: center;
    align-items: center;
  }
  

.card {
  width: 120px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: #E4F7FF;
}

.card > img{
    width: 72px;
    height: auto;
}

.title {
    font-size: 12px;
}

  