
/* .App {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('/src/assets/bg.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 16px;
}

.title-header {
  font-size: 32px;
  color: white;
}

